body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    width: 100%;
}

.contactUsStyle {
    /* textAlign: center; */
    max-width: 600px;
    margin: "auto";
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}