body{
    /* background-image: url("../assets/background-img.jpg"); */
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    margin: 0;
    padding: 0;
   
}

.app-container { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}